*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffff;
  background: #333;
  font-family: sans-serif;
}

#title {
  padding-bottom: 1rem;
  padding-top: 3rem;
  text-align: center;
}

#multiplication-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  padding: 1rem;
  background: rgba(204, 255, 218, 0.47);
  border-radius: 1rem;
  max-width: 300px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 0px 1rem;
  align-items: center;
  text-align: center;
  width: 100px;
}

.form-control label {
  color: #333;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
}

.form-control input {
  margin-bottom: 1rem;
  flex: 1;
  padding: 0.6rem 0.4rem;
  border: 1px solid #333;
  width: 70px;
  border-radius: 5px;
  text-align: center;
}

#submit {
  background: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 30px;
  width: 13rem;
  color: #ffff;
}

#multiplication-table {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#multiplication-title {
  padding: 5px;
  margin: 10px;
}

#multiplication-operations {
  background: rgba(204, 255, 218, 0.47);
  max-width: 300px;
  border-radius: 1rem;
  padding: 30px;
}

.row {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
